/*--- Colors --*/
.b-pink{
  background-color: rgba(174, 133, 178, 0.5);
}
.b-lightpurple{
  background-color: rgba(127, 143, 205, 0.5);
}
.b-purple{
  background-color: rgba(104, 80, 141, 0.5);
}
.b-darkpurple{
  background-color: rgba(26, 22, 99, 0.5);
}
.b-grey{
  background-color: rgba(229, 229, 229, 0.6);
}
.b-white{
  background-color: #FEFCFC;
}
.c-darkpurple{
  color:#1A1663;
}
.c-purple{
  color: #68508D;
}
.c-ligthpurple{
  color: #7F8FCD;
}
.c-pink{
  color: #AE85B2;
}
.c-black{
  color:#535353;
}

/*--- Tipography ---*/
h1,h2{
  font-family: 'Lato', sans-serif;
}
h3,p,span,quote{
  font-family: 'Raleway', sans-serif;
}
h1{
  font-size: 6em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 24px;
}
p{
  font-size: 18px;
}
.title-project{
  font-size: 4em;
}
.link{
  color: #7F8FCD;
}
.link:hover{
  color: #68508D;
  font-weight: bold;
}
a{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

/*--- Spaces ---*/
.pd-sections{
  padding: 8% 0;
}
.pd-projects{
  padding: 5% 0;
}

/*--- Others ---*/
.navbar-nav{
  padding-left: 600px;
}
html {
  scroll-behavior: smooth;
}
#nav{
  transition: all .3s ease-in;
}

@media (min-width: 576px) {
  iframe{
    max-width: 340px;
  }
 }